/* Fonte padrão */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF5F8;
  text-align: center;
}

/* Cabeçalho */
header {
  background-color: #FED1ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo h1 {
  font-size: 22px;
  color: #D63384;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #D63384;
}

header nav a:hover {
  text-decoration: underline;
}

header .logo img {
  height: 60px;
  width: 60px; 
  object-fit: cover;
  border-radius: 50%; 
}

/* Título principal */
.titulo {
  margin: 40px 0 20px 0;
}

.titulo .ano1 {
  font-size: 18px;
  color: #444444;
  display: block;
}

.titulo h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: #D63384;
  margin: 10px 0;
  text-shadow: 2px 2px 0 #FED1ED;
}

/* Foto */
.foto-container {
  position: relative;
  display: inline-block;
  margin: 30px auto;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  border: 4px solid #D63384;
}

/* Base das bolinhas */
.bolinha {
  position: absolute;
  border-radius: 50%;
  background: #d7b6f2;
}

/* DIREITA */
.r1 {
  width: 18px;
  height: 18px;
  top: 20px;
  right: -15px;
}

.r2 {
  width: 12px;
  height: 12px;
  top: 60px;
  right: -25px;
}

.r3 {
  width: 8px;
  height: 8px;
  top: 100px;
  right: -15px;
}

/* ESQUERDA */
.l1 {
  width: 18px;
  height: 18px;
  top: 20px;
  left: -15px;
}

.l2 {
  width: 12px;
  height: 12px;
  top: 60px;
  left: -25px;
}

.l3 {
  width: 8px;
  height: 8px;
  top: 100px;
  left: -15px;
}


/* Texto Bem Vindo */
.bemvindo {
  font-size: 30px;
  font-weight: bold;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

/* Caixa de sobre */
.sobre-box {
  background-color: #DABAF6;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:40px;
  border-radius: 15px;
  margin: 0 auto 40px auto;
  max-width: 900px;
  box-shadow: 2px 2px 5px #999;
}

/* Texto */
.sobre-texto {
  max-width: 70%;
  text-align: justify;
  font-size: 16px;
  color: #444444;
  line-height: 1.6;
  hyphens: auto;
}

.sobre-texto h3 {
  color: #D63384;
  font-size: 22px;
  margin-bottom: 10px;
}

.sobre-texto p {
  font-size: 17px;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}


/* Imagem ao lado */
.sobre-img img {
  width: 275px; 
  height: auto;
  margin-left: 20px;
}

/* Seção Projetos */
.projetos {
  background-color: #FED1ED;
  padding: 30px 0px;
  border-radius: 15px;
  margin: 0 auto 50px auto;
  max-width: 1000px;
  position: relative;
}

.projetos h2 {
  text-align: center;
  font-size: 28px;
  color: #D63384;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}

.card {
  background: #d7b6f2;
  color: white;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Menu lateral */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  max-width: 100%; 
  height: 100%;
  background: #FFF5F8;
  box-shadow: -2px 0 10px #D63384;
  padding: 20px;
  transition: transform 0.3s ease;
  overflow-y: auto;
  text-align: justify;
  transform: translateX(100%);
}

.menu.ativo {
  transform: translateX(0);
}

.fechar {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  float: right;
}


.menu h2 {
  margin-top: 0;
}

.menu button {
  background: #d7b6f2;
  border: none;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0px;
  
}

.menu button:hover {
  background: #d7b6f2;
}


.desenhos {
  background-color: #d7b6f2;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  margin: 30px auto;
  max-width: 900px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.desenhos h2 {
  font-size: 24px;
  color: #c2185b;
  margin-bottom: 20px;
}

.desenhos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quadro {
  width: 220px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.quadro:hover {
  transform: scale(1.05);
}

.bonequinha {
  width: 200px;
  height: auto;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 800px;
  margin: auto;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #c2185b;
}

.footer-top {
  background-color: #d7b6f2;
  padding: 20px;
}

.footer-top h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #c2185b;
}

.footer-bottom {
  background-color: #FED1ED;
  padding: 10px;
  font-size: 16px;
  font-style: italic;
}

.footer-top a {
  color: #D63384;
  text-decoration: none;
  font-weight: bold;
}

.footer-top a:hover {
  text-decoration: underline;
}

/* Desenhos Físicos */
header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  color: #c2185b;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  overflow: hidden;
  text-align: center;
  width: 220px;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.item p {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #c2185b;
  background: linear-gradient(90deg, #FED1ED, #d7b6f2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
}

.modal-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.fechar-modal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #D63384; 
  cursor: pointer;
}
